# IDEs e editores
.idea
.vscode

# Dependências
/vendor/
node_modules/

# Logs e erros
npm-debug.log
yarn-error.log
.phpunit.result.cache
.phpactor.json
auth.json

# Arquivos sensíveis
.env
.env.backup
.env.production

# Laravel 4
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen
public/storage
public/hot

# Laravel com public_path alterado
public_html/storage
public_html/hot

# Armazenamento e uploads
storage/*.key
storage/installed
storage/uploads/
/uploads/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/laravel.log

# Homestead e Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Build e arquivos temporários
/public/build
/storage/pail

# Arquivos de teste de bibliotecas
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
